.nav-link{
    font-weight: bold;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link:hover{
color: rgba(255,255,255,0.5);
border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
color: rgb(255, 0, 0);
border-bottom-color:white;
}